[user]
	name = Matej Buocik
	email = mbuocik@redhat.com
[core]
	editor = vim
[alias]
	b = branch
	s = status
	a = add
	c = commit
	sw = switch
	l = log
	p = push
	r = rebase
	ll = pull
[init]
	defaultBranch = main
